<div class="contField">
<div ng-show="contactForm.ingresos.$touched && contactForm.ingresos.$invalid">
    <small class="error">Inserta tus ingresos mensuales</small>
</div>
<div ng-show="contactForm.ingresos.$error.min || contact.DatosFinancieros.IngresoMensual < min">
    <small class="error">El valor minimo a financiar es de {{min | currency:"$ ":0}}</small>
</div>
</div>

<div class="contField">
<span class="fs-subtitle">¿Cómo te llamas?<u class="asRed">*</u></span>
<input type="text" name="name" placeholder="Ingresa tus nombres y apellidos" ng-model="contact.DatosBasicos.Nombre1" ng-required="true" ng-minlength="3" ng-maxlength="20" replace="[^a-zA-Z\s]" with=""/>
<div ng-show="contactForm.name.$touched && contactForm.name.$invalid || contactForm.name.$error.minlength || contactForm.name.$error.maxlength">
    <small class="error">Ingresa un nombre válido</small>
</div>
</div>

<div class="contField dosCol">
<div>
    <span class="fs-subtitle">Tipo de identificación<u class="asRed">*</u></span>
    <select name="selDocumento" ng-model="contact.DatosBasicos.TipoDocumento" ng-selected="stringToNumber()" ng-required="true">
            <option value="" disabled selected>Selecciona tu tipo de Identificación</option>
            <option value="{{item.value}}" ng-repeat="item in documentos">{{item.name}}</option>
    </select>

    <div ng-show="contactForm.selDocumento.$touched && contactForm.selDocumento.$invalid">
        <small class="error">Ingresa un tipo de documento válido</small>
    </div>
</div>
<div>
    <span class="fs-subtitle">Número de identificación<u class="asRed">*</u></span>
    <input type="number" name="id" placeholder="Ingresa tu número de identificación" ng-model="contact.DatosBasicos.NumeroDocumento" ng-required="true" ng-pattern="/^[0-9]{1,11}$/" ng-minlength="6" ng-maxlength="11"/>
    <div ng-show="contactForm.id.$touched && contactForm.id.$invalid || contactForm.id.$error.minlength || contactForm.id.$error.maxlength || contactForm.id.$error.pattern">
        <small class="error">Ingresa un número de identificación válido</small>
    </div>
</div>
</div>

<div class="contField">
<span class="fs-subtitle">Teléfono de contacto<u class="asRed">*</u></span>
<input type="number" name="phone" placeholder="Ingresa tu número" ng-model="contact.DatosBasicos.Celular" ng-required="true" ng-minlength="7" ng-maxlength="10" ng-pattern="/^[0-9]{1,10}$/"/>
<div ng-show="contactForm.phone.$touched && contactForm.phone.$invalid || contactForm.phone.$error.minlength || contactForm.phone.$error.maxlength || contactForm.phone.$error.pattern">
    <small class="error">Ingresa un teléfono válido</small>
</div>
</div>

<div class="contField">
<span class="fs-subtitle">Correo electrónico<u class="asRed">*</u></span>
<input type="email" name="email" placeholder="Ingresa tu correo electrónico" ng-model="contact.DatosBasicos.CorreoPersonal" ng-required="true" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/"/>
<div ng-show="contactForm.email.$touched && contactForm.email.$invalid || contactForm.email.$error.pattern">
    <small class="error">Ingresa un correo eléctronico válido</small>
</div>
</div>

<hr>

<div class="contFieldTyc">

<!-- <div class="imgTyc">
    <img src="assets/premiercredit.png" alt="">
</div> -->

<div class="pTyc">
    <p class="tyc">PREMIER CREDIT o el TERCERO AUTORIZADO quedan autorizados para obtener información sobre mis relaciones comerciales con otras entidades y consultar mis reportes ante las centrales de información.</p>
</div>
<div class="tycInput">
    <input type="checkbox" name="checkTyc" ng-model="checkTyc" ng-change="contact.OtrosDatos.AutorizaConsultaCentrales = checkTyc; contact.OtrosDatos.AutorizaMareigua = checkTyc;"> <strong class="texto">He leido y acepto los <u class="linkU" ng-click="modal=true" ng-required="true">Términos y Condiciones</u></strong>
</div>
</div>

|| contactForm.selDocumento.$invalid || contactForm.name.$invalid || checkTyc == false

|| contactForm.cuotas.$invalid || contactForm.cuota.$invalid


ng-class="!desabilitarBtnPrimerPaso() ? 'next' : 'next'"

ng-class="!desabilitarBtnPrimerPaso() ? 'next' : 'next'"
